<html>
<head>
<title>fragment_addition.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #606366; font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(186,186,186); }
.s2 { color: rgb(106,135,89); }
.s3 { color: rgb(169,183,198); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
fragment_addition.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s2">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s2">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s3"> 
</span><span class="s0">&lt;LinearLayout </span><span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s1">xmlns:app=</span><span class="s2">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s0"> 
    </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:background=</span><span class="s2">&quot;#eeeeee&quot;</span><span class="s0"> 
 
    &gt;</span><span class="s3"> 
 
 
    </span><span class="s0">&lt;LinearLayout 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/body&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0"> 
        </span><span class="s1">android:padding=</span><span class="s2">&quot;5dp&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;LinearLayout 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/line_top&quot;</span><span class="s0"> 
            </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0"> 
            </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;2dp&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;LinearLayout 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;40dp&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:background=</span><span class="s2">&quot;#f6f6f6&quot;</span><span class="s0"> 
 
                </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
                </span><span class="s0">&lt;TextView 
                    </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/textView4&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                    </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
 
                    </span><span class="s1">android:text=</span><span class="s2">&quot;ID&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
                </span><span class="s0">&lt;TextView 
                    </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/textView5&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                    </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                    </span><span class="s1">android:text=</span><span class="s2">&quot;출근상태&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
                </span><span class="s0">&lt;TextView 
                    </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/textView6&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                    </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                    </span><span class="s1">android:text=</span><span class="s2">&quot;휴식상태&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;LinearLayout 
 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;40dp&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:background=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0"> 
                </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
                </span><span class="s0">&lt;LinearLayout 
                    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                    </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                    </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
                    </span><span class="s0">&lt;TextView 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/user_id&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                        </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;id&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
                </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
                </span><span class="s0">&lt;LinearLayout 
                    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                    </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                    </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
                    </span><span class="s0">&lt;ToggleButton 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/user_attend&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:textOn=</span><span class="s2">&quot;출근&quot;</span><span class="s0"> 
                        </span><span class="s1">android:textOff=</span><span class="s2">&quot;퇴근&quot;</span><span class="s0"> 
 
 
                        /&gt;</span><span class="s3"> 
                </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
                </span><span class="s0">&lt;LinearLayout 
                    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                    </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                    </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
 
                    </span><span class="s0">&lt;ToggleButton 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/user_rest&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:textOn=</span><span class="s2">&quot;휴식중&quot;</span><span class="s0"> 
                        </span><span class="s1">android:textOff=</span><span class="s2">&quot;작업중&quot;</span><span class="s0"> 
 
 
                        /&gt;</span><span class="s3"> 
                </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;LinearLayout 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;92&quot;</span><span class="s0"> 
            </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;LinearLayout 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/driver_menu&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;50&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
                </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
 
                </span><span class="s0">&lt;LinearLayout 
                    </span><span class="s1">android:layout_marginBottom=</span><span class="s2">&quot;5dp&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
 
                    </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                    </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0"> 
                    </span><span class="s1">android:gravity=</span><span class="s2">&quot;center_vertical&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
                    </span><span class="s0">&lt;Button 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/withdraw_call&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;출금요청&quot;</span><span class="s0"> 
                        </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_set_withdraw&quot;</span><span class="s0"> 
                        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_set_r&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;7dp&quot;</span><span class="s0"> 
                        /&gt;</span><span class="s3"> 
 
                    </span><span class="s0">&lt;Button 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/sales_stats&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                        </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_set_sales_stats&quot;</span><span class="s0"> 
                        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_set_r&quot;</span><span class="s0"> 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;매출통계&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;7dp&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
                    </span><span class="s0">&lt;Button 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/deposit_manage&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                        </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_set_deposit_manage&quot;</span><span class="s0"> 
                        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_set_r&quot;</span><span class="s0"> 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;예치금관리&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;7dp&quot;</span><span class="s0"> 
                        /&gt;</span><span class="s3"> 
 
 
                    </span><span class="s0">&lt;Button 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/driver_info&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                        </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_set_driver_info&quot;</span><span class="s0"> 
                        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_set_r&quot;</span><span class="s0"> 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;기사정보&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
 
                        /&gt;</span><span class="s3"> 
 
                </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
                </span><span class="s0">&lt;LinearLayout 
                    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                    </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0"> 
                    </span><span class="s1">android:gravity=</span><span class="s2">&quot;center_vertical&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
 
 
 
                    </span><span class="s0">&lt;Button 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/adverbox_info&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_set_adver_box&quot;</span><span class="s0"> 
                        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_set_r&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;DediBox&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;7dp&quot;</span><span class="s0"> 
                        /&gt;</span><span class="s3"> 
 
                    </span><span class="s0">&lt;Button 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/vehicle_info&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                        </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_set_vehicle_info&quot;</span><span class="s0"> 
                        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_set_r&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;오토바이&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;7dp&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
                    </span><span class="s0">&lt;Button 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/board&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                        </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_set_board&quot;</span><span class="s0"> 
                        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_set_r&quot;</span><span class="s0"> 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;게시판&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;7dp&quot;</span><span class="s0"> 
                        /&gt;</span><span class="s3"> 
 
                    </span><span class="s0">&lt;Button 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/setting_driver&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                        </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_set_driver&quot;</span><span class="s0"> 
                        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_set_r&quot;</span><span class="s0"> 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;알림정보&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        /&gt;</span><span class="s3"> 
 
 
                </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
 
            </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;LinearLayout 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/driver_menu2&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;50&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
 
                </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0"> 
                &gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;LinearLayout 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/manager_menu&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;50&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
 
                </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0"> 
                </span><span class="s1">android:visibility=</span><span class="s2">&quot;gone&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
 
                </span><span class="s0">&lt;LinearLayout 
                    </span><span class="s1">android:layout_marginBottom=</span><span class="s2">&quot;5dp&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
 
                    </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0"> 
                    </span><span class="s1">android:gravity=</span><span class="s2">&quot;center_vertical&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
                    </span><span class="s0">&lt;Button 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/delivery_state&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;배달현황&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_set2_delivery_state&quot;</span><span class="s0"> 
                        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_set_r&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;7dp&quot;</span><span class="s0"> 
                        /&gt;</span><span class="s3"> 
 
                    </span><span class="s0">&lt;Button 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/share_call_mgr&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;공유콜관리&quot;</span><span class="s0"> 
                        </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_set2_share_call_mgr&quot;</span><span class="s0"> 
                        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_set_r&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;7dp&quot;</span><span class="s0"> 
                        /&gt;</span><span class="s3"> 
 
                    </span><span class="s0">&lt;Button 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/deposit_manage_mgr&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
 
 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;예치금관리&quot;</span><span class="s0"> 
                        </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_set2_deposit_manage_mgr&quot;</span><span class="s0"> 
                        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_set_r&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;7dp&quot;</span><span class="s0"> 
                        /&gt;</span><span class="s3"> 
 
                    </span><span class="s0">&lt;Button 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/driver_manage&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;기사관리&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_set2_driver_manage&quot;</span><span class="s0"> 
                        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_set_r&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
 
 
                        /&gt;</span><span class="s3"> 
 
                </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
                </span><span class="s0">&lt;LinearLayout 
                    </span><span class="s1">android:layout_marginBottom=</span><span class="s2">&quot;5dp&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                    </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0"> 
                    </span><span class="s1">android:gravity=</span><span class="s2">&quot;center_vertical&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
 
 
 
                    </span><span class="s0">&lt;Button 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/store_manage&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;가맹점관리&quot;</span><span class="s0"> 
                        </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_set2_store_manage&quot;</span><span class="s0"> 
                        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_set_r&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;7dp&quot;</span><span class="s0"> 
 
                        /&gt;</span><span class="s3"> 
 
                    </span><span class="s0">&lt;Button 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/branch_info&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;회사정보&quot;</span><span class="s0"> 
                        </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_set2_branch_info&quot;</span><span class="s0"> 
                        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_set_r&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;7dp&quot;</span><span class="s0"> 
                        /&gt;</span><span class="s3"> 
 
 
 
 
                    </span><span class="s0">&lt;Button 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/branch_set&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;영업형태설정&quot;</span><span class="s0"> 
                        </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_set2_branch_set&quot;</span><span class="s0"> 
                        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_set_r&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;7dp&quot;</span><span class="s0"> 
                        /&gt;</span><span class="s3"> 
 
                    </span><span class="s0">&lt;Button 
                        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/branch_alarm&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
 
                        </span><span class="s1">android:text=</span><span class="s2">&quot;알람정보&quot;</span><span class="s0"> 
                        </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_set2_manager&quot;</span><span class="s0"> 
                        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_set_r&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
 
                        /&gt;</span><span class="s3"> 
 
 
 
                </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
 
 
 
            </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;LinearLayout 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;8&quot;</span><span class="s0"> 
            </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;Button 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/logout_btn&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/btn_login&quot;</span><span class="s0"> 
                </span><span class="s1">android:text=</span><span class="s2">&quot;로그아웃&quot;</span><span class="s0"> 
                </span><span class="s1">android:textColor=</span><span class="s2">&quot;@color/color_white&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
 
    </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
 
</span><span class="s0">&lt;/LinearLayout&gt;</span></pre>
</body>
</html>